name: MLflow CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-activate-base: false

    - name: Verify conda
      run: |
        conda --version
        which conda

    - name: Run MLflow Project
      run: |
        mlflow run ./MLProject \
          -P data_dir=data \
          -P n_estimators=200 \
          -P max_depth=20

    - name: Upload MLflow artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns/

    - name: Login Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build Docker image with MLflow
      run: |
        mlflow models build-docker \
          --model-uri runs:/$MLFLOW_RUN_ID/model \
          --name ${{ secrets.DOCKER_HUB_USERNAME }}/rf-mlflow

    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/rf-mlflow
